html{
    background:#0d4a8e url(../images/bg03.jpg) repeat-x center 547px;
}
body{
    background:url(../images/headerbg01.jpg) no-repeat center top;
}
#nav{
    padding: 40px 0 0;
    height: 547px;
    text-align: center;
}
#nav li{
    display: inline-block;
    list-style-type: none;
    margin:0 40px;
}
#nav li a{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
#nav li.info{
    margin: 0 390px 0 0;
}
#main{
    background:url(../images/headerbg02.jpg) no-repeat center top;
    clear: both;
    overflow: hidden;
}
#main .txt{
    padding: 210px 0 0;
    text-align: center;
    font-size: 36px;
    color: #868686;
    height: 348px;
}
#main .img{
    height: 269px;
    background:url(../images/pic01.png) no-repeat center top;
    margin: 0 0 100px;
}
#footer{
    text-align: center;
    color: #fff;
    line-height: 30px;
}







